<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <article>
        <section id="inicio">
            <div>
                <form>
                    <h1>WebRTC App</h1>
                    <p>Aplicaci&oacute;n para hacer videollamadas y chat de texto en grupo, para un m&aacute;ximo de 4 usuarios.</p>
                    <div>
                        <label id="lbl-nombre-sala">Sala:</label>
                        <input type="text" id="txt-nombre-sala" value="" autocomplete="off" />
                    </div>
                    <div>
                        <label id="lbl-nombre-usuario">Usuario:</label>
                        <input type="text" id="txt-nombre-usuario" value="" autocomplete="off" />
                    </div>
                    <button id="btn-conectar">Conectar</button>
                    <p class="hide" id="msj-sala-llena">Lo sentimos, la sala está llena...</p>
                    <p class="hide" id="msj-usuario-existe">Lo sentimos, ya existe otro usuario con el mismo nombre en la sala...</p>
                </form>
            </div>
        </section>
        <section id="principal" class="hide">
            <header>
                <h1>WebRTC</h1>
                <ul>
                    <li id="li-nombre-sala">Sala</li>
                    <li id="li-usuarios-conectados">
                        <h1 id="lbl-usuarios-conectados" class="clicable">Conectados</h1>
                        <ul id="lista-usuarios-conectados"></ul>
                    </li>
                    <li id="li-nombre-usuario">Usuario</li>
                </ul>
            </header>
            <div id="contenedor-videos">
                <video autoplay id="video-local" src=""></video>
                <div id="contenedor-botones-video">
                    <div>
                        <button id="btn-colgar">Colgar</button>
                        <button id="btn-video-control">Apagar/Encender Video</button>
                        <button id="btn-audio-control">Apagar/Encender Audio></button>
                    </div>
                </div>
            </div>
            <div id="contenedor-chat">
                <h1>Mensajes</h1>
                <ul id="lista-mensajes"></ul>
                <div id="contenedor-controles-chat">
                    <input type="text" autocomplete="off" id="txt-mensaje-enviar" />
                    <button id="btn-enviar">Enviar</button>
                </div>
            </div>
        </section>
    </article>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/jquery.js"></script>
    <script src="/js/main.js"></script>
</body>

</html>