@font-face {
    font-family: Oswald;
    src: local("Oswald"), local("Oswald"), url(../fonts/Oswald-Regular.ttf);
    font-weight: normal;
}

html,
body,
article,
section,
#inicio>div {
    height: 100%;
    min-height: 100%;
}

article {
    background: #444349;
    color: #C6CACD;
    font: normal 16px Oswald;
}

#inicio {
    display: table;
    margin: auto;
}

#inicio.hide {
    display: none;
}

#inicio>div {
    display: table-cell;
    vertical-align: middle;
}

form {
    background: #2D3134;
    border-radius: 10px;
    min-width: 281px;
    padding: 30px 20px;
}

label,
input {
    display: block;
    width: 100%;
}

label {
    font-size: 16px;
    margin: 16px 0;
}

input,
button {
    background: #74797C;
    border: none;
    border-radius: 4px;
    color: #B4B6B7;
    font-family: Oswald;
    font-size: 16px;
    padding: 10px;
}

input {
    font-size: 14px;
    margin-bottom: 5px;
    outline: none;
    padding: 10px 0;
    text-indent: 10px;
}

button {
    cursor: pointer;
    margin: 10px 0 5px 0;
}

button:hover {
    background: #4dc47d;
    color: #F1F1F1;
}

form p {
    color: #41F3BB;
    font-size: 12px;
}

#principal {
    overflow: auto;
}

header {
    background: #74797C;
    height: 60px;
    line-height: 60px;
    margin-bottom: 30px;
    position: relative;
}

header>h1 {
    float: left;
    font-size: 16px;
    margin-left: 20px;
}

header>ul {
    float: right;
    font-size: 16px;
    margin-right: 20px;
}

header>ul>li {
    display: inline-block;
    margin: 0 5px;
}

#li-usuarios-conectados {
    position: relative;
}

#lista-usuarios-conectados {
    background: #74797C;
    height: 0;
    left: -10px;
    min-width: 90px;
    overflow: hidden;
    position: absolute;
    transition: .3s;
}

#lista-usuarios-conectados.visible {
    height: 180px;
}

#lista-usuarios-conectados li {
    text-indent: 10px;
}

#contenedor-videos {
    float: left;
    overflow: hidden;
    width: 50%;
}

video {
    /*border: 1px solid red;*/
    width: 49%;
}

#principal button {
    font-size: 12px;
    margin: 0 3px;
    padding: 3px;
}

#contenedor-botones-video {
    display: table;
    margin: auto;
}

#contenedor-chat {
    float: right;
    width: 49%;
}

#contenedor-chat ul {
    font-size: 12px;
    height: 150px;
    overflow-y: auto;
    overflow-wrap: break-word;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.hide {
    display: none;
}

.clicable {
    cursor: pointer;
}

@media only screen and (max-width: 1350px) {
    #contenedor-videos {
        width: 75%;
    }
    #contenedor-chat {
        width: 24%;
    }
}

@media only screen and (max-width: 1024px) {
    header>ul {
        font-size: 15px;
    }
}

@media only screen and (max-width: 768px) {
    header>ul {
        font-size: 11px;
    }
    #contenedor-videos {
        width: 50%;
    }
    video {
        width: 48%;
    }
    #contenedor-chat {
        width: 49%;
    }
}

@media only screen and (max-width: 414px) {
    form {
        min-width: 260px;
    }
    header>ul {
        font-size: 12px;
    }
    header>ul>li {
        margin: 0 1px;
    }
    #contenedor-videos {
        float: none;
        width: 100%;
    }
    video {
        width: 48%;
    }
    #contenedor-chat {
        float: none;
        margin: auto;
        width: 98%;
    }
}